<launch>
  <include file="$(find wheeled_robin_bringup)/launch/minimal.launch"/>

  <!--Launching the Kinect, with most of its features deactivated-->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true"/><!--ar_pose needs rgb_data-->
    <arg name="depth_processing" value="false"/>
    <arg name="depth_registered_processing" value="false"/>
    <arg name="depth_registration" value="false"/>
    <arg name="disparity_processing" value="true"/>
    <arg name="disparity_registered_processing" value="true"/>
    <arg name="scan_processing" value="false"/>
  </include>

  <node name="ar_multi" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
    <param name="marker_pattern_list" type="string" value="$(find wheeled_robin_formation_drive)/data/objects_kinect"/>
    <param name="use_history" type="bool" value="true"/>
    <param name="threshold" type="int" value="100"/>
    <remap from="/camera/image_raw" to="/camera/rgb/image_raw" />
    <remap from="/camera/camera_info" to="/camera/rgb/camera_info" />
  </node>

  <param name="goal_frame" type="string" value="goal"/>	
  <param name="marker_frame" type="string" value="master_pattern"/>
  <node name="marker_validation" pkg="wheeled_robin_formation_drive" type="marker_validation" output="screen" >
    <param name="x_offset" type="double" value="0.5"/>
    <param name="y_offset" type="double" value="0.0"/>
  </node>

  <node name="calc_vel" pkg="wheeled_robin_formation_drive" type="vel_control" output="screen">
    <param name="p_lin" type="double" value="0.5"/>
    <param name="p_ang" type="double" value="0.1"/>
    <remap from="/cmd_vel" to="/cmd_vel_mux/input/teleop" />
  </node>
  
  <!-- Map server -->
  <arg name="map_file" default="$(find wheeled_robin_formation_drive)/maps/empty_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="tf" type="static_transform_publisher" name="transform_map_odom" args="50 50 0 0 0 0 /map /odom 100"/> 
  

  <include file="$(find wheeled_robin_navigation)/launch/includes/move_base.launch.xml"/>

</launch>
